<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron" style="height:300px; background-color:#D7DBDD;">
        <div class="container">
            <p class="jumbopara">Dobrodošli u<br><span class="jumbospan">BeogradskiRestorani.com</span></p>
            <br><br>
            <div>
                <form  action="/restaurants" method="GET" class="form-inline inputs">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Pretraga po nazivu" class="form-control">
                        <select name="province" class="form-control">
                            <option value="default">Sve Lokacije</option>
                            <option value="Novi Beograd">Novi Beograd</option>
                            <option value="Savski Venac">Savski Venac</option>
                            <option value="Stari Grad">Stari Grad</option>
                            <option value="Voždovac">Voždovac</option>
                            <option value="Vračar">Vračar</option>
                            <option value="Zemun">Zemun</option>
                            <option value="Zvezdara">Zvezdara</option>
                          </select>
                          <select name="type" class="form-control">
                            <option value="Bar">Barovi i pabovi</option>
                            <option value="Bistro">Bistro</option>
                            <option value="Italijanska Hrana">Italijanska hrana</option>
                            <option value="Kafeterija">Kafeterije</option>
                            <option value="Kineska Hrana">Kineska hrana</option>
                            <option value="Picerija">Picerije</option>
                            <option value="Poslastičarnica">Poslastičarnice</option>
                            <option selected value="Restoran">Restorani</option>
                            <option value="Vegetarijanski Restoran">Vegetarijanski restorani</option>
                            <option value="Čorbe">Čorbe</option>
                          </select>
                        <input type="submit" value="Pretraži" class="btn btn-primary">
                    </div>
                </form>
                
              <!-- <span class="pull-right" style="margin-top: -35px;">
                    <form action="/restaurants" method="GET" class="form-inline">
                        <div class="form-group">
                            <select name="province" class="form-control">
                                <option value="Novi Beograd">Novi Beograd</option>
                                <option value="Savski Venac">Savski Venac</option>
                                <option value="Stari Grad">Stari Grad</option>
                                <option value="Voždovac">Voždovac</option>
                                <option value="Vračar">Vračar</option>
                                <option selected value="Zemun">Zemun</option>
                                <option value="Zvezdara">Zvezdara</option>
                              </select>
                              <input type="submit" value="Pretraži" class="btn btn-primary">
                        </div>
                    </form>
                </span> -->
            </div>
        </div>
    </header>

    <% var value = 2 %>
    <% var limit = 8 %>
    <% var end = false %>
    <% var prevEnd = false %>
    <% var prevValue %>
    <% var search %>
    <% var province %>

    <% if(results.next) { %>
        <% if((results.next.page-1) * limit > length) { %>
            <% end = true %>
       <% } %>
       <% value = results.next.page %>
    <% } %>

    <% if(length <= 8 && !results.next) { %>
        <% end = true %>
        <% prevEnd = true %>
    <% } %>

    <% if(length > 8 && mode && province && !search) { %>
        
    <% } %>


    <% if(value === 2) { %>
        <% prevEnd = true %>
    <% } %>

    <% if(results.prev) { %>
        <% if(results.prev.page === 0) { %>
            <% prevEnd = true %>
       <% } %>
       <% prevValue = results.prev.page %>
    <% } %>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== undefined && noMatch !== '') { %>
                <h3><%= noMatch %></h3>
                <hr>
                <p>
                    <form action="/restaurants" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Pretraga po nazivu" class="form-control">
                            <input type="submit" value="Pretraži" class="btn btn-primary">
                        </div>
                    </form>
                </p>
                <% } %>
        </div>
        <% restaurants.forEach(function(restaurant){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" style="height: 340px;">
                <img src="<%= restaurant.image %>" style="height: 200px;">
                <div class="caption">
                    <h4><%= restaurant.name %></h4>
                    <% if (restaurant.rating === 0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (restaurant.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (restaurant.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (restaurant.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (restaurant.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
                </div>
                <p>
                    <a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
    <div class="buttons">

            <form style="display: inline-block; margin-right: 21px;" action="/restaurants" method="GET">
                <input type="text" name="limit" class="form-control" style="display: none;" value="<%= limit %>">
                <input type="text" name="page" class="form-control" style="display: none;" value="<%= prevValue %>">
                <% if(mode) { %>
                    <input type="text" name="search" class="form-control" style="display: none;" value="<%= search %>">
                    <input type="text" name="province" class="form-control" style="display: none;" value="<%= province %>">
                    <% } %>
                <% if(!prevEnd) { %>
                    <button type="submit" class="btn btn-sm btnprev">prev</button>
                <% } else { %>
                    <button disabled type="submit" class="btn btn-sm btnprev">prev</button>
                <% } %>               
            </form>

            <form style="display: inline-block;" action="/restaurants" method="GET">
                <input type="text" name="limit" class="form-control" style="display: none;" value="<%= limit %>">
                <input type="text" name="page" class="form-control" style="display: none;" value="<%= value %>">
                <% if(mode) { %>
                    <input type="text" name="search" class="form-control" style="display: none;" value="<%= search %>">
                    <input type="text" name="province" class="form-control" style="display: none;" value="<%= province %>">
                    <% } %>
                <% if(!end) { %>
                    <button  type="submit" class="btn btn-sm btnnext">next</button>
                <% } else { %>
                    <button disabled type="submit" class="btn btn-sm  btnnext">next</button>
                <% } %>                
            </form>

        
    </div>
</div>
<br><br>


<%- include ("../partials/footer") %>